# LLM keys
GEMINI_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# SERPAPI (for `search_google_scholar` + `search_google` tool)
SERPAPI_API_KEY=

# JINA Reader (for `read_url` tool)
JINA_API_KEY=

# LangSmith for tracing and debugging LangGraph agents
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT="DeepVerify Research Agent"